body{
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
}

.main{
	padding: 40px 0;
    background-image: url('img/tree.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-weight: 300;
    letter-spacing: 1px;
    color: #303030;
}
#logo{
	width: 150px;
	border-radius: 50%;
	text-align: center;
	margin: 40px auto;
	display: block;

}
.form-overlay{
	padding: 50px;
	background: #fff;
	border-radius: 10px;
}
label{
	color: #202020;
	font-weight: 400;

}
.content{
	text-align: center;
}
#imgg{
	max-width: 160px;
	border-radius: 10px;
	margin-bottom: 20px
}	
.content p{
	font-size: 17px;
	line-height: 140%;
	margin-bottom: 10px;
}
.content h2{
	font-weight: 300;
}
.content h1 b{
	font-weight: 600;
	font-size: 110;
}
.content div{
	padding: 14px 5px;
	font-size: 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-bottom: 10px;
}
.content div p{
	margin:5px 0;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}